* {
    padding: 0;
    margin: 0;
}


/*  FONTS  */

@font-face {
    font-family: "Roboto";
    src: local("Roboto"),
            url("../fonts/roboto.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto"),
    url("../fonts/roboto.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto"),
    url("../fonts/roboto-bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto"),
    url("../fonts/roboto-bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}



/*  GLOBAL  */

body {
    font-family: "Roboto", sans-serif;
}



/*  HEADER  */

.header {
    border-bottom: 1px solid #e5e5e5;
    padding: 5px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    vertical-align: bottom;
    max-width: 80px;
}


.menu ul {
    list-style: none;
    display: flex;
}

.menu-item {
    margin-right: 75px;
}

.manu-item:last-child {
    margin-right: 0;
}

.menu-item a {
    font-size: 16px;
    color: #030305;
    text-decoration: none;
}

.menu-item a:hover {
    border-bottom: 2px solid black;
}



/*  BANNER SECTION  */


.main-info {
    max-width: 550px;
    background-color: #000000a1;
    padding: 50px 80px;
}

.main-title {
    font-size: 0;
    visibility: hidden;
}

.main {
    background-image: url("../images/background-image.jpeg");
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
    padding: 100px 0;
}

.hello {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}


.main-text {
    padding: 50px 0;
    font-size: 17px;
    color: white;
}


.main-info-text {
    padding-top: 50px;
    font-size: 17px;
}

.button {
    padding: 20px;
    width: 334px;
    height: 64px;
    background: #6c412d;
    border: 0;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: background-color .5s;
}

.button:hover {
    cursor: pointer;
    background: #4a351f;;
}



/*  ABOUT  */

.about {
    padding-top: 60px;
    position: relative;
    background-color: #e5e5e5;
}

.about .container {
    display: flex;
    position: relative;
}

.about-image,
.about-text {
    max-width: 512px;
    max-height: 379px;
}

.about-text {
    padding: 15px 0;
    position: relative;
    z-index: 1;
}



.about-text .sub-title {
    text-align: right;
    font-size: 45px;
}

.about-text::after {
    content: '';
    position: absolute;
    width: 700px;
    height: 375px;
    right: 0;
    top: 0;
    background-image: linear-gradient(45deg, transparent 0, transparent 10%, #e5e5e5);
    z-index: -1;
}

.about-text p {
    padding: 35px 0 0 65px;
    text-align: right;
    font-size: 18px;
}

.about .button {
    z-index: 1;
    margin-top: 29px;
    float: right;
}

/*  METHOD  */

.method {
    background-image: linear-gradient(#a96b4e, #b89494);
    padding: 60px 0 75px;
}

.sub-title {
    font-size: 45px;
}

.method-text {
    padding: 30px 0 50px;
    font-size: 18px;
}

.method-items {
    display: flex;
    justify-content: space-between;
}

.method-item {
    text-align: center;
    width: 250px;
}

.method-item-text {
    font-size: 18px;
    padding-top: 15px;
}

.method-item-text-last {
    padding: 15px 40px 0;
}

.method-item-point img{
    max-width: 120px;
}


/*  FEEDBACK  */

.feedback {
    padding: 50px 0 65px;
    background-image: url("../images/3.png");
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 10;
}

.feedback::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.5;
    z-index: -1;
}

.feedback .sub-title {
    text-align: center;
}

.feedback .container {
    width: 800px;
    margin: 40px auto;
    background-color: transparent;
}


.slider {
    position: relative;
}
  
.slider input[type="radio"] {
    display: none;
}
  
.slider-inner {
    overflow: hidden;
}
  
.slider-slides {
    width: 400%;
    transition: transform 0.8s ease;
}
  
.slider-slides .review-item {
    float: left;
    width: 800px;
    height: 280px;
}
  
.slider-controls {
    margin-bottom: 20px;
    text-align: center;
}
  
.slider-controls label {
    display: inline-block;
    margin: 0 3px;
    width: 10px;
    height: 10px;
    border: 4px solid white;
    border-radius: 50%;
    background-color: #c6b7b0;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    transition: background-color 0.2s;
}
  
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"],
#btn-4:checked ~ .slider-controls label[for="btn-4"] {
    background-color: #6c412d;
}
  
  
#btn-1:checked ~ .slider-inner .slider-slides {
    transform: translate(0);
}
  
#btn-2:checked ~ .slider-inner .slider-slides {
    transform: translate(-800px);
}
  
#btn-3:checked ~ .slider-inner .slider-slides {
    transform: translate(-1600px);
}

#btn-4:checked ~ .slider-inner .slider-slides {
    transform: translate(-2400px);
}

.review-item {
    background-color: #e5e5e5;
    display: flex;
}

.review-image img {
    width: 280px;
    height: 280px;
}

.review-text {
    width: 100%;
    padding: 35px 40px;
}

.review-title {
    padding-bottom: 20px;
}

.review-text p {
    position: relative;
    padding: 0 40px;
}

.review-text p::before {
    content: '';
    position: absolute;
    top: 0;
    left: -15px;
    width: 45px;
    height: 40px;
    background-image: url("../images/quotes-top.png");
    background-size: cover;
}

.review-text p::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: -15px;
    width: 45px;
    height: 40px;
    background-image: url("../images/quotes-bottom.png");
    background-size: cover;
}


/*  FORM  */

.price {
    background-image: linear-gradient(to right, #966522 10%, #ba8b33 20%, #fcdb5a 30%, #ad7a2b 50%, #654327 75%, #654327 80%, #352919);
    padding: 65px 0;
}


.price .sub-title {
    margin-bottom: 20px;
}

.price-text {
    font-size: 17px;
    line-height: 21px;
    color: #050505;
    margin-bottom: 30px;
}

.price-form label {
    display: grid;
    gap: 10px;
    font-size: 18px;
}

.price-form {
    display: grid;
    background-color: #ffffff40;
    padding: 40px 20px;
    border-radius: 5px;
}

.price .button{
    margin-top: 20px;
    text-decoration: none;
}

.price-input {
    padding: 22px 18px;
    width: 344px;
    height: 65px;
    background: #FFFFFF;
    border: 1px solid #5D5D5F;
    box-sizing: border-box;
    font-size: 17px;
    line-height: 21px;
    color: #000;
    outline: none;
    margin-bottom: 15px;
}

.price-input.textarea {
    width: 600px;
    height: 170px;
    font-family: inherit;
}

.price-input::placeholder {
    color: #5D5D5F;
}

.price .button {
    width: 100%;
}

.price-image {
    position: absolute;
    bottom: 0;
    left: 401px;
}


/*  FOOTER  */

.footer {
    border-top: 1px solid #e5e5e5;
    padding: 5px 0;
}

.footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rights {
    font-size: 15px;
    color: #030305;
}

.contacts {
    position: relative;
    padding-left: 55px;
}

.contacts::before {
    content:'';
    position: absolute;
    width: 45px;
    height: 45px;
    background: url(../images/call.png) no-repeat;
    background-size: cover;
    left: 0;
    top: -12px;
}




/*  adaptive  */

@media (max-width: 1200px) {
    .container {
        max-width: 970px;
    }

    .header .container {
        justify-content: space-around;
    }

    .menu-item {
        margin-right: 65px;
    }

    .main-info {
        max-width: 45%;
        padding: 40px 60px 60px;
    }

    .hello {
        font-size: 22px;
    }

    .main-info-text {
        padding-top: 35px;
    }

    .main-text {
        padding: 35px 0;
    }

    .about-text::after {
        width: 120%;
        background-image: linear-gradient(45deg, transparent 0, transparent 20%, #e5e5e5);
    }



}



@media (min-width: 320px) and (max-width: 768px) {
    

    

    .header .container {
        display: block;
        max-width: 720px;
    }

    .menu,
    .logo {
        text-align: center;
        margin-bottom: 30px;
    }
    body .sub-title  {
        font-size: 35px;
    }

    .logo img {
        max-width: 200px;
    }

    .menu-item {
        margin-right: 0;
        padding-bottom: 20px;
    }   
    
    .menu ul {
        display: inline-block;
    }

    .menu-item a {
        font-size: 20px;
    }

    .main-text {
        padding: 40px 0;
    }

    .main-info {
        max-width: 320px;
        background-color: #000000a1;
        padding: 50px 40px;
    }

    .main-info-text {
        padding-top: 40px;
        font-size: 16px;
        font-weight: normal;
        letter-spacing: normal;
        line-height: 20px;
    }

    .button {
        width: 100%;
    }

    .about-text {
        max-width: 90%;
    }

    .about-text p {
        font-size: 18px;
        padding: 0;
        text-align: center;
    }

    .about-text::after {
        display: none;
    }

    .method .sub-title,
    .method-text,
    .price .sub-title,
    .price-text {
        text-align: center;
    }

    .method-text {
        font-size: 20px;
        padding: 40px;
    }

    .method-items {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .method-item {
        margin: 0 auto;
        text-align: center;
        margin-top: 20px;
    }

    .method-item-text {
        font-size: 20px;
    }

    .review-title {
        padding-bottom: 15px;
        font-size: 20px;
    }

    .slider-slides .review-item {
        height: 300px;
        width: 85%;
    }


    .review-image img {
        margin-top: 10px;
        margin-left: 10px;
    }

    .review-text p::before,
    .review-text p::after {
        display: none;
    }

    .review-text p {
        font-size: 18px;
        padding: 0;
    }

    .slider-controls {
        display: none;
    }

    .slider-slides {
        width: 100%;
    }

    .review-text {
        padding: 30px;
    }

    .price {
        padding: 65px;
    }

    .price-text {
        font-size: 20px;
    }

    .price-input,
    .price-input.textarea {
        width: 100%;
    }

    .price-form label {
        font-size: 20px;
    }

    .footer .container {
        display: block;
        text-align: center;
        margin: 30px 0;
    }

    .footer .logo {
        margin-bottom: 30px;
    }

    .contacts::before {
        display: none;
    }

    .contacts,
    .copyright {
        margin-bottom: 20px;
        padding: 0;
    }

    .about .container {
        flex-direction: column-reverse;
    }

    .about-text .sub-title {
        text-align: center;
        font-size: 35px;
        margin: 20px 0;
    }


    .about-image img {
        display: none;
    }

    .about .button {
        display: block;
        float: none;
        width: 50%;
        margin: 30px auto 0;
    }

    .feedback .container {
        width: 100%;
        margin: 0;
    }

    .footer {
        padding: 0;
    }

}

@media (min-width: 320px) and (max-width: 768px) {
    .method-items {
        grid-template-columns: 100%;
    }

    .slider-slides .review-item {
        display: grid;
        height: 100%;
        padding: 40px 20px;
        float: none;
        margin: 0 auto 40px;
    }



    .review-text p {
        font-size: 17px;
        padding: 0;
        text-align: justify;
    }

    .review-text {
        padding: 0;
    }

    .about .button {
        width: 70%;
    }

    .feedback .sub-title {
        margin-bottom: 20px;
    }

    .review-image {
        margin: 0 auto;
    }

    .review-title {
        text-align: center;
        padding: 20px 0;
    }

    .review-image img {
        margin: 0;
    }

    .feedback .container {
        width: 100%;
        margin: 0;
        max-width: 100%;
        padding: 0;
    }

    .price {
        padding: 65px 20px;
    }

    .about-text {
        margin: 100px auto;
    }

    .about {
        background-image: url("../images/1.jpeg");
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: cover;
        padding: 0;
        position: relative;
    }

    .about::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        opacity: 0.5;
        z-index: 1;
    }

    .feedback {
        background-size: auto;
        background-position: center right;
    }
}
    